</div>
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div>
                <p class="text-muted">&copy; X-treme Camping 2019 developed by Oussema Jlassi</p><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <p class="text-muted">
                    <a href="https://www.linkedin.com/in/oussema-jlassi/" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i> My LinkedIn profile
                    </a>
                </p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <p class="text-muted">
                    <a href="mailto:oussama.jlassi@hotmail.fr" target="_blank">
                        <i class="fa fa-envelope" aria-hidden="true"></i> oussama.jlassi@hotmail.fr
                    </a>
                </p>
            </div>
            <div class="col-sm-3 col-xs-12">
                <p class="text-muted"><i class="fa fa-phone" aria-hidden="true"></i> +216 50 419 167</p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/javascript/notifications.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
    integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw"
    crossorigin="anonymous"></script>
</body>

</html>